{% if submitted_tickets %}
	<ul style="list-style-type:none" id="departureAirportList">
		{% for ticket in submitted_tickets %}
			<li id="{{forloop.counter}}">
				<article class="media content-section content-box">
				  <img class="rounded-circle article-img" src="{{ ticket.author.profile.image.url }}">
				  <div class="media-body">
				    <div class="article-metadata content-box">
				      <a class="mr-2" href="#">{{ ticket.author.username }}</a>
				      <small class="text-muted">{{ ticket.date_posted }}</small>
				    </div>
				    <label id="user-departure-airport" class="text-muted"><b>From: </b>{{ ticket.departure_airport }} </label>
				    <label id="user-arrival-airport" class="text-muted"><b>To: </b>{{ ticket.arrival_airport }} </label>
				    <label id="user-flight-number" class="text-muted"><b>Flight no. </b>{{ ticket.flight_number }}</label>
				    <p hidden id="current-user-ticket-id" class="article-content">{{ ticket.id }}</p>
				    <label id="user-departure-date" class="text-muted"><b>Travel date: </b>{{ ticket.date }}</label>
				    <label id="user-departure-time" class="text-muted"><b>Travel time: </b>{{ ticket.time }}</label>
				    <p id="user-departure-email" class="article-content">Contact the luggage <b>{{ ticket.is_giver }}</b>: {{ticket.author.email}}</p>
				    {% if ticket.is_verified %}
				    		<label style="color:green">verified</label>
				    {% else %}
					    	<label style="color:red" title="{{ticket.author.username}} has not submitted pdf ticket as a proof of travel">not verified</label> 
				    {% endif %}
				  </div>
				</article>
			</li>
		{% endfor %}
	</ul>
{% endif %}