{% load crispy_forms_tags %}
{% if posts %}
	<div id="divCurrentUserAllTickets" class="infinite-container">
	<ul class="list-unstyled" id="currentUserTicketList">
		{% for ticket in posts %}
		<div class="infinite-item">
			<li id="{{forloop.counter}}">
				<article class="media content-section content-box">
				  <img class="rounded-circle article-img" src="{{ ticket.author.profile.image.url }}">
				  <div class="media-body">
				    <div class="article-metadata content-box">
				      <a class="mr-2" href="#">{{ ticket.author.username }}</a>
				      <small class="text-muted">{{ ticket.date_posted }}</small>
				    </div>
				    <label id="user-departure-airport" class="text-muted"><b>From: </b>{{ ticket.departure_airport }} </label>
				    <label id="user-arrival-airport" class="text-muted"><b>To: </b>{{ ticket.arrival_airport }} </label>
				    <label id="user-flight-number" class="text-muted"><b>Flight no. </b>{{ ticket.flight_number }}</label>
				    <p hidden id="current-user-ticket-id" class="article-content">{{ ticket.id }}</p>
				    <label id="user-departure-date" class="text-muted"><b>Travel date: </b>{{ ticket.date }}</label>
				    <!-- <label id="user-departure-time" class="text-muted"><b>Travel time: </b>{{ ticket.time }}</label> -->
				    <!-- <p id="user-departure-email" class="article-content">Contact the luggage <b>{{ ticket.is_giver }}</b>: {{ticket.author.email}}</p> -->
				    
				    	{% if ticket.is_verified %}
				    		<label style="color:green">verified</label>
				    	{% else %}
				    		<label style="color:red">I'm not verified</label>
				    		<u><a href={% url 'verify_me' ticket.id %}> Verify me!</a></u>
				    	{% endif %}
				    	{% if ticket.is_giver == 'giver' %}
					    Click anywere to view all co-travellers who has less baggage
					    {% else %}
					    Click anywhere to view all co-travellers who has excess baggage
					    {% endif %}
				  </div>
				</article>
			</li>
		</div>
		{% endfor %}
	</ul>
	</div>

	  {% if posts.has_next %}
	    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
	  {% endif %}

	  <div class="loading" style="display: none;">
	    Loading...
	  </div>

	  <script>
	    var infinite = new Waypoint.Infinite({
	      element: $('.infinite-container')[0],
	      onBeforePageLoad: function () {
	        $('.loading').show();
	      },
	      onAfterPageLoad: function ($items) {
	        $('.loading').hide();
	      }
	    });
	  </script>
{% endif %}